.chat__wrapper {
    width: 100%;
    padding: 20px 20px 0px 20px;
}

.chat__header {
    padding-bottom: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat__content {
    display: flex;
    align-items: center;
}

.chat__wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.chat__content img {
    width: 50px;
    height: 50px;
}

.chat__content i {
    padding-right: 15px;
}

.chat__content a {
    color: var(--black);
}

.chat__box {
    height: 400px;

    border-radius: 5px;

    padding: 0px 20px 0px 20px;

    display: flex;
    flex-direction: column;

    background-color: rgb(230, 230, 230);

    overflow-y: auto;
}

.chat__box::-webkit-scrollbar {
    display: none;
}

.chat__outgoing {
    margin: 10px 0px 10px 0px;

    display: flex;
}

.chat__outwidth {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.chat__outwidth p {
    font-size: 14px;

    padding: 10px 16px;

    border-radius: 18px 18px 0px 18px;

    color: var(--white);
    background: var(--black);

    word-break: break-all;
}

.chat__incoming {
    margin: 10px 0px 10px 0px;
}

.chat__inwidth {
    max-width: calc(100% - 130px);
    display: flex;
    align-items: center;
}

.chat__inwidth p {
    font-size: 14px;

    padding: 10px 16px;
    
    max-width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    color: var(--black);
    background: var(--white);

    word-break: break-all;
}

.chat__inwidth img {
    width: 35px;
    height: 35px;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);

    margin-right: 10px;
}

.typing__form {
    width: 100%;

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.typing__form input {
    width: 100%;

    padding: 15px;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.typing__form input:focus {
    outline: none;
}

.typing__form button {
    padding: 16px;

    border: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    background-color: var(--black);
    color: var(--white);
}

.typing__form button i {
    font-size: 15px;
}